/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */
body {
  font-size: 16px;
  line-height: 20px;
  font-family: sans-serif;
  background-color: burlywood;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: lightblue;
  border-bottom: 3px solid salmon;
  z-index: 9999;
}

.conttainer {
  background-color: white;
  width: 960px;
  margin: 80px auto;
  position: relative;
}

.twit {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(reborn.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -3px;
  right: -2px;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 4px;
}

.header a:hover {
  background-color: lightblue;
  color: black;
}

.hero {
  height: 320px;
  background-image: url(myphoto.jpg);
  background-size: cover;
  background-position: 0 -160px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightblue;
}

.main {
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.main h2 {
  font-size: 28px;
  font-weight: bold;
}

.main .penulis {
  font-size: 11px;
  margin-top: 1px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}
.main .penulis a:hover {
  background-color: lightblue;
  color: black;
}

.main p {
  margin-bottom: 20px;
  font-size: 14px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  float: right;
}

.sidebar img {
  width: 70px;
  height: 70px;
  float: left;
  padding-right: 10px;
}

.sidebar h3 {
  font-weight: bold;
}

.sidebar p {
  font-size: 13px;
  line-height: 18px;
  font-family: arial;
}

.footer {
  background-color: black;
  padding: 10px;
}
.footer .copy {
  color: white;
  text-align: center;
  font-size: 12px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
